@page
@model Customer.Pages.ShopModel

@{
    ViewData["Title"] = "Shop Page";
}

@{
    var pagingmodel = new Customer.Helpers.PagingModel()
    {
        curentpage = Model.page,
        countpage = Model.pagesCount,
        //generateUrl = (int?p) => Url.Page("/Shop", (Model.searchstring != "" ? new{SearchString = Model.searchstring, p = p} : new{p = p}))
        generateUrl = (int?p) => Url.Page("/Shop", new{SearchCategory = Model.searchCategory, SearchString = Model.searchString, p = p})
    };
}



    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <form method="get" asp-page="./Shop"  asp-route-SearchCategory="@Model.searchCategory" asp-route-SearchString="@Model.searchString">
                            <div class="shop__sidebar__search d-flex">
                                <input asp-for="searchString" placeholder="Search..." value="@Model.searchString" style="width:100%; margin-right:5px">
                                <input hidden asp-for="searchCategory" placeholder="Search..." value="@Model.searchCategory" style="width:100%; margin-right:5px">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                            <div class="shop__sidebar__accordion">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="shop__sidebar__categories">
                                                    <ul class="nice-scroll">
                                                        <li>
                                                            <a asp-route-SearchCategory="null" asp-route-SearchString="@Model.searchString">All</a>
                                                        </li>
                                                        @foreach(var ct in Model.categoryResponse)
                                                        {
                                                            <li>
                                                                <a asp-route-SearchCategory="@ct.CategoryId" asp-route-SearchString="@Model.searchString">@ct.CategoryName</a>
                                                            </li>
                                                        }
                                                </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p></p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Showing x results</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    @foreach (var obj in Model.productDtoResponse)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="@obj.ProductImgReadDto[0].ProductImgLink">
                                    <a class="nav-link" style="height:100%" asp-page="/ShopDetails" asp-route-id="@obj.ProductId">
                                        <ul class="product__hover">
                                            <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a>
                                            </li>
                                            <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                                        </ul>
                                    </a>
                                </div>
                                <div class="product__item__text">
                                    <h6>@obj.ProductName</h6>
                                    <a href="#" class="add-cart">+ Add To Cart</a>
                                    <div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <h5>$@obj.Price</h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <br/>
                <br/>
                <partial name="_Paging" model="@pagingmodel"/>
        </div>
    </section>
    <!-- Shop Section End -->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.4/dist/sweetalert2.all.min.js" integrity="sha256-COxwIctJg+4YcOK90L6sFf84Z18G3tTmqfK98vtnz2Q=" crossorigin="anonymous"></script>
<script>
    const msg = '@TempData["AlertMessage"]';
    if(msg)
    {
        Swal.fire({
          position: 'center',
          icon: 'success',
          title: msg,
          showConfirmButton: false,
          timer: 1500
        })
    }
</script>