@page
@model Customer.Pages.ShoppingCartModel
@{
    ViewData["Title"] = "Shopping Cart Page";
}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a>Home</a>
                            <a>Shop</a>
                            @*<a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                            <a class="nav-link" asp-area="" asp-page="/Shop">Shop</a>*@
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <form method="post" asp-page="/ShoppingCart" asp-page-handler="UpdateCart">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="shopping__cart__table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                @if (Model.Cart != null)
                                {
                                    @foreach (var item in @Model.Cart)
                                    {
                                        <tr>
                                            <td class="product__cart__item">
                                                <div class="product__cart__item__pic">
                                                    <img src="@item.Product.ProductImgReadDto[0].ProductImgLink" alt="" style="height: 100px; object-fit: cover">
                                                </div>
                                                <div class="product__cart__item__text">
                                                    <h6>@item.Product.ProductName</h6>
                                                    <h5>$@item.Product.Price</h5>
                                                </div>
                                            </td>
                                            <td class="quantity__item">
                                                <div class="quantity">
                                                    <div class="pro-qty-2">
                                                        <input type="text" value="@item.Quantity" min="1" name="quantities" asp-for="@item.Quantity">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="cart__price">$@(item.Product.Price * item.Quantity)</td>
                                            <td class="cart__close">
                                                <a asp-page="/ShoppingCart" asp-page-handler="delete" asp-route-productid="@item.Product.ProductId">
                                                    <i class="fa fa-close"></i>
                                                </a>
                                            </td>   
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="continue__btn">
                                    <a class="nav-link" asp-page="/Shop">Continue Shopping</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="continue__btn update__btn">
                                    @*<a href="#"><i class="fa fa-spinner"></i> Update cart</a>*@
                                    <button type="submit" class="btn primary-btn cart-btn cart-btn-right">
                                        <i class="fa-solid fa-eye-dropper"></i>
                                        Upadate Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        @*<div class="cart__discount">
                            <h6>Discount codes</h6>
                            <form action="#">
                                <input type="text" placeholder="Coupon code">
                                <button type="submit">Apply</button>
                            </form>
                        </div>*@
                        <div class="cart__total">
                            <h6 class="font-weight-bold">Cart total</h6>
                            <ul>
                                @*<li>Subtotal <span>$ 169.50</span></li>*@
                                <li>Total <span>$@Model.Total</span></li>
                            </ul>
                            @if (Model.Cart != null)
                            {
                                <a asp-page="/Checkout" class="primary-btn">PROCEED TO CHECKOUT</a>
                            }
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Shopping Cart Section End -->
